<%= form_tag do %>
	<button name="d" value="20">roll d20</button>
	<button name="d" value="12">roll d12</button>
	<button name="d" value="10">roll d10</button>
	<button name="d" value="8">roll d8</button>
	<button name="d" value="6">roll d6</button>
	<button name="d" value="4">roll d4</button>
	<button name="d" value="3">roll d3</button>
	<button name="d" value="2">roll d2</button>
<% end %>